.login{  
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: #000000;  
    border-radius: 15px ;  
      
}  

.myLabel{
    color: #e9e510; 
    font-size: 17px;  
}